/* Logo */
/* hb=head-block */
.hb-logo-link{
    text-decoration: none;
}
.hb-logo{
    margin-top: 60px;
    font-size: 80px;
    color: #333;
}
.bright-blue-txt{
    color:#4bcaff;
}

/* Navigation */
/* hb=head-block*/
.hb-navbar{
    margin: 45px 0 55px;
    text-align: center;
    background-color: #35444f;
}
.hb-navbar-itm{
    display: inline-block;
    padding: 25px 40px;
    text-decoration: none;
    font-size: 24px;
    color: white;
}
.hb-navbar-itm-selected {
    background-color: #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
}

/* Menu */
/* lb = left-block */
.left-block-menubar{
    display: inline-block;
    box-sizing: border-box;
    width: 345px;
    float:left;
    border: 1px solid black;
    list-style: none;
}
.lb-menubar-itm{
    font-size: 30px;
    padding: 5px;
}
.lb-menubar-itm-selected{
    /*padding-left: 60px;*/
    color: #333333;
    background-color: #dbdbdb;
}
.lb-menubar-itm-link{
    display: block;
    padding: 25px 0;
    padding-left: 40px;
    color: #50606b;
    text-decoration: none;
}

/*Main subject*/
.main-subject{
    display: inline-block;
    width: 885px;
    margin: 0 0 70px 50px;
}
.main-subject-img{
    padding: 75px 280px;
    margin-bottom:50px;
    border: 1px solid #333333;
}
.main-subject-txt{
    margin: 30px 35px;
    font-size: 18px;
    line-height: 1.5;
}

.container{
    width: 1280px;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: sans-serif;
}
.clearfix::after{
    content:'';
    display:block;
    clear: both;
}