/* Logo */
/* tb = top-block */
.top-block{
    padding-top: 46px;
}
.tb-logo{
    float:left;
}
.tb-logo-link{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Verdana, Courier,sans-serif ;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}
.tb-logo-link::before{
    content: url("../img/logo.png");
    display: inline-block;
    margin-right: 15px;
}
.tb-logo-milan{
    display: inline-block;
    vertical-align: top;
    font-size: 29px;
}
.tb-logo-holidays{
    display: inline-block;
    position: relative;
    left: -108px;
}

/* Contacts */
/* tb = top-block*/
.tb-contacts{
    margin-top: 10px;
    text-align: right;
    font-family: Verdana, Courier,sans-serif ;
    font-size: 18px;
    color: #ffffff;
}

/* Main-block*/
/* mb = main-block*/
.main-block{
    font-family: Courier, Verdana,sans-serif ;
}
.for-margin{
    display: inline-block;
    margin: 46px 0 90px;
}
.for-margin:nth-of-type(3n-1){
    margin-left: 67px;
    margin-right: 67px;
}
.mb-itm{
    float: left;
    background: url('../img/css-sprites.png');
    text-decoration: none;
}

/* Orange block hiden*/
.mb-itm-orange{
    display: inline-block;
    width: 277px;
    margin-top: 42%;
    padding: 35px 15px 17px;
    background-color: transparent;
    color: transparent;
}
.price{
    position: relative;
    font-size: 20px;
}
.price::before{
    content: '\20AC';
}
.price::after{
    content: 'From';
    position: absolute;
    top:-12px;
    left:0;
    font-size: 10px;
}
.details{
    margin-left: 40%;
    font-size: 14px;
}
.details::after{
    content: '\203A';
}

/* Sprites for main block*/
.bg-shopping{
    width: 307px;
    height: 200px;
    background-position: -15px -15px;
}
.bg-sightseeing{
    width: 307px; height: 200px;
    background-position: -15px -245px;
}
.bg-food{
    width: 307px; height: 200px;
    background-position: -15px -475px;
}
.bg-bars{
    width: 307px; height: 200px;
    background-position: -15px -705px;
}
.bg-architecture{
    width: 307px; height: 200px;
    background-position: -15px -935px;
}
.bg-walking{
    width: 307px; height: 200px;
    background-position: -15px -1166px;
}

/* Main-block item name*/
.mb-itm-name{
    padding-top: 22px;
    text-align: center;
    font-family: Verdana, Courier,sans-serif ;
    font-size: 18px;
    color: #ffffff;
}

/* Footer */
/* bb = bottom-block */
.bottom-block{
    padding-bottom: 20px;
}
.bb-copyright{
    /*margin-bottom: 20px;*/
    font-family: Courier, Verdana,sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
}
.bb-copyright::before{
    content: '\00A9';
}

/* container */
.container{
    box-sizing: border-box;
    width: 1056px;
    margin: 0 auto;
}
/* clearfix */
.clearfix::after{
    content:'';
    display:block;
    clear: both;
}
/* background */
.background{
    background: linear-gradient( rgba(3,3,3,.73), rgba(3,3,3,.74)), url('../img/background.png') no-repeat;
    background-size: cover;
}