/* Logo */
/* tb = top-block */
.top-block{
    padding-top: 46px;
}
.tb-logo{
    float:left;
}
.tb-logo-link{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Verdana, Courier,sans-serif ;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}
.tb-logo-link::before{
    content: url("../img/logo.png");
    display: inline-block;
    margin-right: 15px;
}
.tb-logo-milan{
    display: inline-block;
    vertical-align: top;
    font-size: 29px;
}
.tb-logo-holidays{
    display: inline-block;
    position: relative;
    left: -108px;
}

/* Contacts */
/* tb = top-block*/
.tb-contacts{
    margin-top: 10px;
    text-align: right;
    font-family: Verdana, Courier,sans-serif ;
    font-size: 18px;
    color: #ffffff;
}

/*MAIN*/
.for-margin{

}
.mb-itm{
    margin: 46px 0;
    width: 307px;
    height: 200px;
    background-image: url('../img/css-sprites.png');
}
.mb-itm-link{
    text-decoration: none;
}
.mb-itm.bg-shopping{
    background-position: 50px 50px;
}
.mb-itm-orange-block{
    color: black;
    background: orange;
}


/* container */
.container{
    box-sizing: border-box;
    width: 1056px;
    margin: 0 auto;
}
/* clearfix */
.clearfix::after{
    content:'';
    display:block;
    clear: both;
}
/* background */
.background{
    background: linear-gradient( rgba(3,3,3,.73), rgba(3,3,3,.74)), url('../img/background.png') no-repeat;
    background-size: cover;
}