// colors
$lightGray: #cacaca;
$gray: #373c3f;
$darkGray:#202529;
$green: #acd8ad;
$blueTxt: #a6d6e0;
$white: #ffffff;
//fonts
$lato:  Lato, Courier, sans-serif;
$montserrat: Montserrat, Courier, sans-serif;

@mixin centrifyTxt{
  padding-top: 25px;
  text-align: center;
}

.container{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  font-family: $lato;
}

// ---------- Header ----------

.pizzeria-logo{
  display: none;
}
.header{
  position: relative;
  margin-bottom: 4px;
  height: 210px;
  background: $gray url("../img/header-bg.png") repeat bottom;
  background-size: contain;
}

.navigation{
  display: flex;
  justify-content: space-between;
  background-color: $gray;
  &__name{
    margin: 11px 18px 12px;
    font-family: $montserrat;
    color: $white;
    font-size: 12px;
  }
}

.fas{
  font-size: 16px;
}

.nav-menu {
  display: none;
  position: absolute;
  right: 0;
  width: 180px;
  background-color: #fafafa;
  &--active{
    display: block;
  }
  &__item{
    list-style: none;
    padding: 8px 12px;
    border: 1px solid #f3f3f3;
  }
  &__link{
    text-decoration: none;
    //font-family: $lato;
    font-size: 12px;
    color: $gray;
  }
  &__btn{
    width: 44px;
    border: none;
    background-color: $darkGray;
    color: $white;
  }
}

.title{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  height: 60px;
  //font-family: $lato;
  font-weight: 700;
  &__txt{
    font-size: 16px;
    color: $white;
  }
  &__link{
    text-decoration: none;
    font-size: 14px;
    color: $blueTxt;
  }
}

// Product gallery
.product{
  display: flex;
  height: 75px;
  color: $white;
  font-size: 20px;
  font-weight: 700;

  &-wrapper{
    display: flex;
    margin-bottom: 21px;
    flex-direction: column;
    justify-content: space-between;
    height: 228px;
  }
  &__name{
    box-sizing: border-box;
    width: 249px;
    @include centrifyTxt;

    &--pizza{
      background: $gray url("../img/320/pizza-delivery.png") no-repeat 75% 95%;
    }
    &--salad{
      background: $gray url("../img/320/salads.png") no-repeat left 93%;
    }
    &--dessert{
      background: $gray url("../img/320/desserts.png") no-repeat center 15%;
    }
  }
  &__link{
    text-decoration: none;
    color: $white;
    width: 71px;
    @include centrifyTxt;
    background: $green;
  }
}

//spk = Speisekarte (german for restaurant menu)

.spk {
  &__title {
    box-sizing: border-box;
    margin-bottom: 7px;
    height: 37px;
    text-transform: uppercase;
    font-family: $lato;
    font-size: 20px;

    &--black {
      position: relative;
      padding-left: 7px;
      color: $gray;

      &::after {
        content: 'Ultrices cursus sit amet placerat tortor';
        position: absolute;
        bottom: 5px;
        left: 9px;
        text-transform: none;
        color: $lightGray;
        font-size: 10px;
      }
    }

    &--green {
      color: $green;
      background: $gray;
      padding: 8px 17px;
    }

    &--white {
      color: $white;
      background: $green;
      padding: 8px 17px;
    }
  }
}

.spk-list {
  padding: 5px 18px;

  &__header{
    display: flex;
    padding-bottom: 17px;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    text-transform: uppercase;
    font-size: 15px;
    color: $gray;
  }
  &__icon{
    height: 23px;
  }

  &__itm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &--name {
      font-size: 14px;

      &::before{
        content: "\2022";
        font-size: 8px;
      }
    }

    &--price {
      font-size: 13px;
      font-weight: 700;

      &::before{
        content: '$';
      }
    }

    &--description {
      font-size: 9px;
      margin: 10px 0;
    }
  }
}

// Footer

.footer{
  margin-top: 20px;
  box-sizing: border-box;
  height: 55px;
  padding: 10px 40px;
  background: $green;
  &__txt-box{
    display: flex;
    height: 32px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &__txt{
    font-size: 13px;
    color: $white;
  }
}
