.container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  font-family: Lato, Courier, sans-serif; }

.pizzeria-logo {
  display: none; }

.header {
  position: relative;
  margin-bottom: 4px;
  height: 210px;
  background: #373c3f url("../img/header-bg.png") repeat bottom;
  background-size: contain; }

.navigation {
  display: flex;
  justify-content: space-between;
  background-color: #373c3f; }
  .navigation__name {
    margin: 11px 18px 12px;
    font-family: Montserrat, Courier, sans-serif;
    color: #ffffff;
    font-size: 12px; }

.fas {
  font-size: 16px; }

.nav-menu {
  display: none;
  position: absolute;
  right: 0;
  width: 180px;
  background-color: #fafafa; }
  .nav-menu--active {
    display: block; }
  .nav-menu__item {
    list-style: none;
    padding: 8px 12px;
    border: 1px solid #f3f3f3; }
  .nav-menu__link {
    text-decoration: none;
    font-size: 12px;
    color: #373c3f; }
  .nav-menu__btn {
    width: 44px;
    border: none;
    background-color: #202529;
    color: #ffffff; }

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  height: 60px;
  font-weight: 700; }
  .title__txt {
    font-size: 16px;
    color: #ffffff; }
  .title__link {
    text-decoration: none;
    font-size: 14px;
    color: #a6d6e0; }

.product {
  display: flex;
  height: 75px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700; }
  .product-wrapper {
    display: flex;
    margin-bottom: 21px;
    flex-direction: column;
    justify-content: space-between;
    height: 228px; }
  .product__name {
    box-sizing: border-box;
    width: 249px;
    padding-top: 25px;
    text-align: center; }
    .product__name--pizza {
      background: #373c3f url("../img/320/pizza-delivery.png") no-repeat 75% 95%; }
    .product__name--salad {
      background: #373c3f url("../img/320/salads.png") no-repeat left 93%; }
    .product__name--dessert {
      background: #373c3f url("../img/320/desserts.png") no-repeat center 15%; }
  .product__link {
    text-decoration: none;
    color: #ffffff;
    width: 71px;
    padding-top: 25px;
    text-align: center;
    background: #acd8ad; }

.spk__title {
  box-sizing: border-box;
  margin-bottom: 7px;
  height: 37px;
  text-transform: uppercase;
  font-family: Lato, Courier, sans-serif;
  font-size: 20px; }
  .spk__title--black {
    position: relative;
    padding-left: 7px;
    color: #373c3f; }
    .spk__title--black::after {
      content: 'Ultrices cursus sit amet placerat tortor';
      position: absolute;
      bottom: 5px;
      left: 9px;
      text-transform: none;
      color: #cacaca;
      font-size: 10px; }
  .spk__title--green {
    color: #acd8ad;
    background: #373c3f;
    padding: 8px 17px; }
  .spk__title--white {
    color: #ffffff;
    background: #acd8ad;
    padding: 8px 17px; }

.spk-list {
  padding: 5px 18px; }
  .spk-list__header {
    display: flex;
    padding-bottom: 17px;
    justify-content: space-between;
    align-items: center; }
  .spk-list__title {
    text-transform: uppercase;
    font-size: 15px;
    color: #373c3f; }
  .spk-list__icon {
    height: 23px; }
  .spk-list__itm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .spk-list__itm--name {
      font-size: 14px; }
      .spk-list__itm--name::before {
        content: "\2022";
        font-size: 8px; }
    .spk-list__itm--price {
      font-size: 13px;
      font-weight: 700; }
      .spk-list__itm--price::before {
        content: '$'; }
    .spk-list__itm--description {
      font-size: 9px;
      margin: 10px 0; }

.footer {
  margin-top: 20px;
  box-sizing: border-box;
  height: 55px;
  padding: 10px 40px;
  background: #acd8ad; }
  .footer__txt-box {
    display: flex;
    height: 32px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .footer__txt {
    font-size: 13px;
    color: #ffffff; }
