
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #1d2124;
}

/* Logo */
.logo{
    display: flex;
    align-items: center;
}
.logo-img-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #171a1c;
    width: 70px;
    height: 70px;
}
.logo-name{
    margin-left: 6px;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
}

/* Menu */
.navbar-menu{
    width: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}
.navbar-link{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
}

/* Search */
.search{
    background-color: #171a1c;
    border: none;
    cursor: pointer;
}
.search-icon{
    padding: 25px;
    font-size: 20px;
    color:#ffffff;
    cursor: pointer;
}

/* Header */
.header{
    background: #1d2124 url("../img/header-bg.jpeg") fixed;
    background-size: cover;
}
.header-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 375px;
    background-color: rgba(0, 0, 0, .5);
}
.header-title{
    margin-bottom: 45px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
    color: #ffffff;
}
.pseudo-btn-wrapper{
    display: flex;
    justify-content: space-between;
    width: 360px;
}
.header-pseudo-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 55px;
    border-radius: 5px;
}
.subscribe{
    background-color: #89ca62;
}
.articles{
    background-color: #14b9d5;
}
.header-pseudo-btn-link{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

/* Most popular posts*/

.popular-posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 1032px;
    /*background-color: #f2f2f2;*/
    background-color: greenyellow;
}
.popular-posts-title{
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
    font-weight: 700;
    color: #18b4cf;
}
.post-itms-wrapper{
    display: flex;
    justify-content: space-between ;
    width: 1170px;
    /*background-color: greenyellow;*/
}
.post-itm-column-wrapper{
    display: flex;
    flex-direction: column;
    /*align-items: baseline;*/
    /*width: 370px;*/
    /*background-color: orange;*/
}
.post-itm{
    display: flex;
    flex-direction: column;
    width: 370px;
    margin-bottom: 30px;
    text-align: center;
    background-color: #ffffff;
}
.post-itm-link{
    padding: 20px 0;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #353a3d;

}
