
/*---------------------- General weak------------------------*/

.container{
    margin: 0 auto;
    max-width: 1160px;
    font-family: Montserrat, sans-serif;
    cursor: default;
}
.gen-txt{
    font-family: Montserrat, sans-serif;
    color: white;
}

.gen-title{
    position: relative;
    font-family: Montserrat, sans-serif;
    font-size:36px;
    display: inline-block;
    color: #4e4e4e;
    margin: 100px 0;
}
.gen-title::after{
    content: '';
    position: absolute;
    bottom: -30px;
    right: 30%;
    height: 3px;
    width: 76px;
    border-top: solid 1px #18cfab;
    border-bottom: solid 1px #18cfab;
    transform: skewX(70deg);
}

.general-btn{
    height: 60px;
    width: 165px;
    border: solid 1px transparent;
    border-radius: 5px;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: white;
    background-color: #18cfab;
    cursor: pointer;
}
.parallax-btn{
box-shadow: 0 -4px 0 white;
}

/*---------------    Header      ---------------------*/

.header-wrapper{
    display: grid;
    grid-template-areas:
            " navbar"
            "..."
            "home-container"
            "...";
    height: 1012px;
    background: #808080 url(../img/sections-background/header-bg.jpg) fixed no-repeat ;
    background-size: cover;
}

/* Navbar */

.navbar{
    display: grid;
    grid-template-areas: "logo menu";
    justify-content: space-around;
    align-items: center;
    grid-area: navbar;
    height: 120px;
    width: 100%;
    background-color: rgba(120, 120, 100, .50);
}

/* Logo */

.logo{
    display: grid;
    grid-template-areas: "hexagon logo-txt";
    grid-gap: 10px;
    align-items: center;
    grid-area: logo;
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    cursor: default;
}
.logo-hexagon {
    grid-area: hexagon;
    width: 58px;
    height: 68px;
    background-position: -77px -10px;
    text-align: center;
}
.logo-letter{
    padding: 14px 0;
    font-size: 40px;
    font-weight: 700;
}
.logo-txt{
    grid-area: logo-txt;
    font-size: 24px;
}

/* Menu */
.menu{
    grid-area: menu;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 700px;
}
.menu-itm{
    list-style-type: none;
}
.menu-itm-link{
    text-decoration: none;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-size: 13px;
    font-weight: 700;
}
.menu-itm-color{
    color: #b8b8b8;
}
.underline::after{
    content: '';
    display: block;
    position: relative;
    top: 53px;
    width: inherit;
    border-bottom: solid 2px #18cfab;
}
.menu-search-btn{
    background-color: transparent;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

/* Header txt */

.home-container{
    display: grid;
    grid-template-areas:
    "ham-is"
    "we-are"
    "just-buy"
    "..."
    "header-btns";
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    grid-area: home-container;
    height: 400px;
}

.header-txt{
    font-family: Montserrat, sans-serif;
    color: white;
    cursor: default;
}
.ham-is{
    grid-area: ham-is;
    text-transform: uppercase;
    font-size:32px;
    font-weight: 700;
}
.we-are{
    grid-area: we-are;
    text-transform: uppercase;
    font-size: 69px;
    font-weight: 700;
}
.just-buy{
    grid-area: just-buy;
    font-size: 30px;
    font-weight: 300;
    color: #d4d4d4;
}

/* Buttons*/

.header-btns{
    grid-area: header-btns;
    display: flex;
    justify-content: space-between;
    width: 370px;
}
.header-green-btn{
    grid-area: head-green-btn;
}
.header-blue-btn{
    grid-area: head-blue-btn;
    background-color: #00cbf6;
}

/*----------------------------- Options  -------------------------------*/

.options{
    display: flex;
}
.options-itm{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas:
            "..."
            "options-icon"
            "options-txt"
            "...";
    justify-items: center;
    align-items: center;
    height: 370px;
    width: 480px;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.options-itm-black{
    background-color: #000000;
    box-shadow: 0 -4px 0 #18cfab;
    color: #18cfab;
}
.options-itm-green{
    background-color: #18cfab;
    box-shadow: 0 -4px 0 #ffffff;
    color: #ffffff;
}
.options-itm-icon{
    grid-area: options-icon;
    /*background: pink;*/
}
.options-itm-txt{
    grid-area: options-txt;
    cursor: default;
}
.bg-pointer{
    width: 58px;
    height: 97px;
    background-position: -209px -105px;
}
.bg-diamond{
    width: 93px;
    height: 75px;
    background-position: -197px -10px;
}
.bg-lamp{
    width: 60px;
    height: 96px;
    background-position: -129px -105px;
}
.bg-devices{
    width: 99px;
    height: 76px;
    background-position: -10px -97px;
}

/*----------------------------- Services  -------------------------------*/

.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 560px;
}
.services-tabbs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 335px;
    line-height: 1.3;
    color: #777777;
}
.services-tabbar{
    display: flex;
}
.services-tabbar-itm{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 73px;
    width: 192px;
    border: solid 1px #d4d4d4;
    background-color: #f8fcfe;
}

.services-tabbar-active, .services-tabbar-itm:hover{
    background-color: #18cfab;
    color: #ffffff;
    border: solid 1px #18cfab;
}
.services-tabbar-active::after {
    position: absolute;
    top: 73px;
    content: '';
    display: block;
    border: 12px solid transparent;
    border-top: 12px solid #18cfab;
}
.services-tabs-content-parent{
    height: 140px;
    overflow: hidden;
    margin-bottom: 70px;
}
.services-tabs-content-itm{
    display: flex;
    height: 140px;
}

.tabs-content-img{
    height: 139px;
    width:  194px;
    margin-right: 20px;
    border: solid 2px #d4d4d4;
}

/*------------------------------- Purchase ------------------------------------------------*/


.purchase-wrapper{
    background: #4e4e4e url("../img/sections-background/purchase-bg.jpg")  center  no-repeat;
    background-size: cover;
    height: 476px;
}
.purchase-overlay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(0, 0, 0, .7) ;
    color: #ffffff;
    height: 100%;
}
.purchase-txt-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}
.purchase-title{
    font-size: 40px;
    text-transform: uppercase;
}
.purchase-description{
    color: #d8d8d8;
    font-size: 16px;
}

/*------------------------------- Our Work ------------------------------------------------*/
/* container*/
.work-wrapper{
    background-color: #f8fcfe;
}
.work-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
}

/* tabbar */
.work-tabbar{
    display: flex;
    margin-bottom: 70px;
    background-color: #fff;
}
.work-tabbar-itm{
    display: flex;
    padding: 20px;
    border: solid 1px #d8d8d8;
    color: #777777;
}
.work-tabbar-itm:hover{
    color: #18cfab;
}
.active-work-tabbar-itm{
    color: #18cfab;
    box-shadow: 0 -2px 0 #18cfab;
}

/* our work content */

.work-tabs-content-parent{
    display: grid;
    grid-template-columns: repeat(4, 284px);
    grid-template-rows: repeat(auto-fit, 205px);
    min-height: 205px;
    margin-bottom: 70px;
}
.hidden-itm{
    display: none;
}

/* our amazing work flipcards*/
.flip-wtc-itm{
    position: relative;
    width: 284px;
    height: 205px;
    perspective: 1000px;
    background-color: #ffffff;
}
.flip-wtc-itm-front, .flip-wtc-itm-back{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    /*background-color: cornflowerblue;*/
    backface-visibility: hidden;
    transition: 1s;
}
.flip-wtc-img{
    min-width: 100%;
    max-width: 100%;
    height: auto;
}
.flip-wtc-itm-back{
    transform: rotateY(180deg);
}
.flip-wtc-itm:hover .flip-wtc-itm-front{
    transform: rotateY(180deg);
}
.flip-wtc-itm:hover .flip-wtc-itm-back{
    transform: rotateY(360deg);
}

    /* Our amazing work backside */
.flip-wtc-itm-back{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: solid 3px #18cfab;
}

.circles{
    display: flex;
    align-items: center;
    margin-bottom: 34px;
}
.chain-link{
    grid-area: wtci-chain;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 90px;
    border: solid 1px #18cfab;
    background-position: 3px 4px;
    margin-right: 5px;
}

.search-link{
    grid-area: wtci-search;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 90px;
    background-color: #18cfab;
    background-position: -30px 4px;
}
.wt-content-itm-title{
    grid-area: wtci-title;
    margin-bottom: 13px;
    text-transform: uppercase;
}
.wt-content-itm-txt{
    grid-area: wtci-txt;
}
.wtc-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.wtc-btn-txt::before{
    position: relative;
    top: 5px;
    content: '+';
    font-size: 30px;

}

    /*-------------------------------  Breaking News ------------------------------------------------*/

.bn-itm-wrapper{
    position: relative;
    width: 263px;
    height: 280px;
    background-color: #f8fcfe ;
}

    /*------------------------------- General Strong ------------------------------------------------*/
.green-txt{
    color: #18cfab;
    font-weight: 700;
}
/* spritesheet */
.sprite-bg{
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}


