
/* Background */
.background {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*justify-content: space-a;*/
    /*padding-bottom: 1wh;*/
    background: #3a3d38 url("../img/background-rana-sawalha.png") no-repeat;
    height: 100vh;
    background-size: cover;
}

/* Header */
/* tb = top-block */
/* tbn = top-block-navbar */
.top-block{
    padding: 20px 0;
    background-color: rgba(0,0,0,.5);
}

/* Logo */
.tbn-logo{
    margin-left: 80px;
    text-decoration: none;
    font-family: Verdana, Courier, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
}
.tbn-logo:hover{
    color: #3cb878;
}

/* Right part */
.tbn-right-part{
    float:right;
    margin-right: 75px;
}
/* Icons */
.tbn-icon-menu{
    display: inline-block;
    margin-left: auto;
    border-right: 1px solid rgba(255, 255, 255, .5);
}
.tbn-icon{
    display: inline-block;
    margin-right: 25px;
    height: 20px;
    width: 20px;
    background: url("../img/css_sprites.png") no-repeat;
}
/* calendar */
.bg-calendar{
    background-position: -10px -10px;
}
.bg-calendar:hover{
    background-position: -49px -10px;
}
/* forum */
.bg-forum{
    width: 28px;
    background-position: -168px -10px;
}
.bg-forum:hover{
    width: 28px;
    background-position: -216px -10px;
}
/* compass */
.bg-compass{
    background-position: -88px -10px;
}
.bg-compass:hover{
    background-position: -128px -10px;
}

/* Welcome  */
.tbn-welcome{
    display: inline-block;
    margin-left: 25px;
    font-family: Verdana, Courier, sans-serif;
    font-size: 14px;
    color: #ffffff;
}
.tbn-welcome-link{
    text-decoration: none;
    color: #3cb878;
}
.tbn-welcome-link:hover{
    text-decoration: underline;
}


/* Authorisation field */
.authorisation-wraper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    position:relative;
    margin: auto;
    /*box-sizing: border-box;*/
    /*height: 524px;*/
    width:324px;
    padding: 30px 60px;
    border-radius: 10px;
    background-color: #ffffff;
}

/* Authorisation header */
.authorisation-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.authorisation-title{
    display: inline-block;
    font-family: Verdana, Courier,sans-serif;
    font-size: 20px;
    color: #434343;
}
.authorisation-title::before{
    position: absolute;
    top: 22px;
    left:0;
    content: ' 	\0025A0 ';
    font-size: 30px;
    color:#3cb878;
}
.authorisation-link{
    display: inline-block;
    text-decoration: none;
    font-family: Verdana, Courier, sans-serif;
    font-size: 14px;
    color: #a4dec0;
}
.authorisation-link:hover{
    text-decoration: underline;
}

/* Social-media authorisation buttons */

.authorisation-social-btn-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.authorisation-form-btn{
    font-family: Verdana, Courier, sans-serif;
    font-size: 16px;
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
}
.authorisation-social-btn{
    position: relative;
    width: 157px;
    padding: 0;
}
.authorisation-social-btn-name{
    position: relative;
    left: 25px;
    display: inline-block;
    width: 109px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    border-left: 1px solid rgba(0, 0,0, .25);
}
/* Facebook */
.facebook-btn{
    /*float:left;*/
    background-color: #305db8;
}
.facebook-btn:hover{
    background-color: #264b96;
}
.facebook-btn::before{
    position: absolute;
    left: 0;
    top: 15px;
    display: inline-block;
    height: 28px;
    width: 47px;
    content: url("../img/facebook.png");
    /*border-right: 1px solid rgba(0, 0,0, .25);*/
}
/* Google */
.google-btn{
    /*float: right;*/
    background-color:#df4a32;
}
.google-btn:hover{
    background-color:#c3412c;
}
.google-btn::before{
    position: absolute;
    left: 0;
    top: 16px;
    display: inline-block;
    height: 28px;
    width: 47px;
    content: url("../img/google.png ");
}
/* Autorisation spacer */
.authorisation-spacer{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.authorisation-spacer-or{
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #aeaeae;
}
.authorisation-spacer-or::before{
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    display: inline-block;
    width: 135px;
    border-top: 1px solid;
}
.authorisation-spacer-or::after{
    content: '';
    position: absolute;
    top: 7px;
    right: 0;
    display: inline-block;
    width: 135px;
    border-top: 1px solid;
}

/* Authorisation form inputs */
.authorisation-form{
    display: flex;
    flex-direction: column;
    /*align-content: start;*/
    box-sizing: border-box;
}
.authorisation-form-inputs{
    position: relative;
    box-sizing: border-box;
    padding: 18px;
    margin-bottom: 9px;
    width: 100%;
    border: 1px solid #aeaeae;
    border-radius: 3px;
}
.authorisation-form-inputs:focus{
    bottom: 6px;
    color: #434343;
    box-shadow: 0 5px 8px #d6d6d6;
}

/* Terms and conditions agreement */
.agreement{
    margin-top: 22px;
    margin-bottom: 28px;
}
.agreement-txt{
    font-family: Verdana, Courier, sans-serif;
    font-size: 14px;
    color: #434343;
}
.agreement-link{
    text-decoration: none;
    color: #3cb878;
}
.agreement-link:hover{
    text-decoration: underline;
}

/* Confirm */
.confirm-btn{
    width: 100%;
    height: 46px;
    /*margin-bottom: 32px;*/
    background-color: #3cb878;
}
.confirm-btn:hover{
    background-color: #329a65;
}

/* Clearfix */
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}