/* Logo */
/* hb=head-block */
.hb-logo-link{
    text-decoration: none;
}
.hb-logo{
    margin-top: 60px;
    font-size: 80px;
    color: #333;
}
.bright-blue-txt{
    color:#4bcaff;
}

/* Navigation */
/* hb=head-block*/
.hb-navbar{
    margin: 45px 0 55px;
    text-align: center;
    background-color: #35444f;
}
.hb-navbar-itm{
    display: inline-block;
    padding: 25px 40px;
    text-decoration: none;
    font-size: 24px;
    color: white;
}
.hb-navbar-itm:hover{
    background-color: #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
}

/* Menu */
/* lb = left-block */
.left-block-menubar{
    display: inline-block;
    box-sizing: border-box;
    width: 345px;
    float:left;
    border: 1px solid black;
    list-style: none;
}
.lb-menubar-itm{
    padding: 5px;
    font-size: 30px;
}
.lb-menubar-itm:hover{
    padding-left: 40px;
    background-color: #dbdbdb;
    color: #333333;
}
.lb-menubar-itm-link{
    display: block;
    padding: 25px 0 25px 40px;
    text-decoration: none;
    color: #50606b;
}

/*Main subject*/
.main-subject{
    display: inline-block;
    width: 885px;
    margin-left: 50px;
}
.main-subject-img{
    padding: 75px 280px;
    margin-bottom:20px;
    border: 1px solid #333333;
}
.main-subject-txt{
    margin: 30px 35px;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
}

/*Footer*/
/*bb=bottom-block*/
.bottom-block{
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0 30px 0;
    padding: 20px 0;
    background-color: #b4b7ba;
}
.bb-navbar-itm{
    padding: 0 20px;
    text-decoration: none;
    font-size: 28px;
    color: #333333;
}
.bb-navbar-itm:hover{
    margin: 20px;
    padding: 0;
    border-bottom: 2px solid #3181ab;
    color: #3181ab;
}

/*Copyright*/
.copyright{
    float: right;
    margin-right: 20px;
    font-size: 24px;
}
.copyright-year::before{
    content: '\00A9';
}

/* .container */
.container{
    width: 1280px;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: sans-serif;
}
/* .clearfix */
.clearfix::after{
    content:'';
    display:block;
    clear: both;
}