body{
    margin: 0;
    padding: 0;
}
.header {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}
.header-navigation{
    padding: 35px
}
.header-navigation-point{
    text-decoration: none;
    color: #16a085;
    padding-right: 70px;
}
.top-img{
    background-image: url("../pics/top-img@1X.png");
    background-size:contain;
    background-repeat: no-repeat;
}
.overlay{
    width:100%
}
.main-block{
    margin: 0;
    padding-top: 60px;
    font-family: monospace;
    text-align: center;
    background-image: url("../pics/contetn-background@1X.png");
}
.main-block-title{
    text-transform: uppercase;
    font-size: 18px;
}
.main-block-content{
    padding-left: 230px;
    padding-right: 230px;
    font-size: 16px;
    color:rgba(55,55,55,255)
}
.main-block-button{
    margin-top: 40px;
    margin-bottom: 95px;
    padding: 20px 45px;
    background: #16a085;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    font-weight: bolder;
}
.main-block-content-paragraph-1{
    margin-bottom: 50px;
}
.basement{
    padding-top: 45px;
    padding-bottom: 45px;
    font-family: monospace;
    font-size: 16px
}
.basement-navigation{
    padding-left: 230px;
}
.basement-link{
    text-transform: uppercase;
    text-decoration: none;
    color:rgba(55,55,55,0);
}
.basement-link:hover{
    color:rgba(55,55,55,255);
}
.copyright{
    padding-left: 355px;
    padding-right: 230px;
    color: rgba(55,55,55,255)
}

