html{
    font-size: 10px;
}
.gogi{
    width: 50rem;
    height: 30rem;
    background-color: #ff00ff;
}

.gogi a{
    text-decoration: none;
}

.gogi > a {
    color: white;
}
.gogi + a{
    font-size: 40px;
}
.gogi ~ p{
    color: yellow;
}
.dummy-text {
    color: deeppink !important;
}
.link{
    font-size: 18px;
    color:rebeccapurple;
}
.link[href="#"] {
    font-size: 244px;
}